@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* 
 

/* navbar style start  */

.main-nav {
  width: 100%;
  height: 10rem;
  display: grid;
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  position: fixed;
  z-index: 100;
}

.logo {
  display: grid;
  /* background-color: #3b5998; */
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
}

.menu-link {
  grid-column: 3/4;
}

.menu-link ul {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-media {
  grid-column: 4/5;
}

.social-media ul {
  height: 10rem;
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  align-items: center;
  justify-content: flex-end;
}

.social-media ul li {
  text-align: right;
}
.social-media ul li:first-child {
  grid-column: 2/3;
}

/* ----------- Grid part ends ----------------- */

.logo h2 {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#eee, rgb(46, 28, 63));
  /* background: -webkit-linear-gradient(#eee, rgb(69, 57, 248)); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo h2 span {
  font-size: 3.5rem;
}

.menu-link ul li {
  font-size: 1.8rem;
}

.menu-link ul li a {
  text-transform: capitalize;
  color: rgba(0, 0, 3, 0.8);
  transition: 0.5s;
}
.menu-link ul li:hover > a {
  transform-origin: left;
  color: rgb(140, 89, 153);
  text-decoration: none;
  transition: 0.5s;
}

.social-media ul li {
  font-size: 1.8rem;
}

.social-media .hamburger-menu {
  display: none;
}

.facebook {
  color: #3b5998;
}

.instagram {
  color: #c32aa3;
}

.youtube {
  color: #ff0000;
}

/* hero section   */

.hero-section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-section p {
  font-size: 3rem;
  text-transform: capitalize;
}

.hero-section h1 {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
}

/* responsive css style  */
@media (max-width: 1080px) {
  .main-nav {
    height: 8rem;
    grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
  }

  .logo,
  .menu-link ul,
  .social-media ul {
    height: 8rem;
  }
}

/* responsive css style  */
@media (max-width: 998px) {
  .main-nav {
    height: 7rem;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
  }

  .menu-link {
    display: none;
  }

  .logo,
  .social-media ul {
    height: 7rem;
  }

  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }

  .mobile-menu-link {
    background-color: white;
    height: 20rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .mobile-menu-link ul {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }

  .social-media {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
    transition: all 2s linear;
  }

  .social-media .social-media-desktop {
    height: 0;
    display: none;
  }

  .social-media {
    height: 7rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 798px) {
  .main-nav {
    height: 6rem;
    grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
  }

  .logo,
  .social-media ul {
    height: 6rem;
  }

  .social-media {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 520px) {
  .main-nav {
    height: 6rem;
    grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
  }

  .logo,
  .social-media ul {
    height: 6rem;
  }

  .logo h2 {
    font-size: 2rem;
  }

  .social-media {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }
  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }

  /* hero section  */

  .hero-section h1 {
    font-size: 3.8rem;
  }
}

.wrappper {
  display: flex;
  width: 100%;
  height: calc(100vh - 20px);
  justify-content: flex-start;
  align-items: normal; 
  padding: 150px 10%;
  /* padding: 150px 10%; */
  overflow: hidden;
}

/* circle big */
.wrappper::before{
  position: absolute;
  content: '';
  height: 550px;
  width: 550px;
  border-radius: 50%;
  left: -12%;
  top: 40%;
  background: linear-gradient(45deg, #7f00ff, pink);
  animation: object1 6s linear infinite;
}

/* circle small */
/* .wrappper::after{   
  position: absolute;
  content: '';
  height: 200px;
  width: 200px;
  border-radius: 50%;
  left: 35%;
  top: 12%;
  background: linear-gradient(45deg, #7f00ff, pink);
  animation: object2 6s linear infinite;
} */

@keyframes object1 {
  50%{
    left: -13%;
    top:41%
  }
}

@keyframes object2 {
  50%{
    left: 35%;
    top:10%
  }
}

.cols {
  width: 50%;
}

.cols0 {
  width: 60%;
  z-index: 5;
}

 .topline {
  display:block;
  position: relative;
  font-size: 30px;
  letter-spacing: 5px;
  color: #3d535f;
  padding-left: 20px;
} 

.topline::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 45px;
  bottom: 10px;
  background-color: #7f00ff;
}

h1 {
  display: block;
  font-size: 7em;
  font-weight: 900;
  color: #3d535f;
}

.multiText {
  color: #7f00ff;
  text-transform: capitalize;
}

p {
  display: block;
  width: 90%;
  font-size: 1.2em;
  color: #3d535f;
}

.btns {
  width: 100%;
  position: relative;
  left: 10px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  background-color: #F5295C;
  padding: 8px 14px;
  margin: 40px 5px;
  letter-spacing: 2px;
  text-transform: capitalize;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}

button:hover {
  background-color: #7f00ff;
}

.imgbox {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 80px;
  margin-left: 130px;
}

.imgbox img {
  position: relative;
  height: 100%;
  width: calc(130%, -80px);
  top: -90px;
  right: 50px;
  transform: rotateY(180deg);
  animation: animateUser 4s linear infinite;
}

@keyframes animateUser {
  50% {
    right: 30px;
    top: -90px;
  }
}

.imgbox #splash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-35deg);
  width: 100%;
  filter: saturate(200%);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  50% {
    top: 49%;
    left: 51%;
    width: 155%;
  }
}
